/*RACHELS BASE CSS STYLES*/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
}

.App{
  width: 100%;
  height: inherit;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: var(--font);
  line-height: var(--line-spacing);
}

section{
  display: flex;
  flex-direction: column;
  width: inherit;
  padding: var(--spacer-sm) var(--spacer-lg);
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: var(--spacer-lg);
  color: var(--colors-black);
}

section:first-of-type{
  padding-top: var(--spacer-lg);
}

section:last-of-type{
  padding-bottom: var(--spacer-lg);
}


h2, h3{
  font-size: var(--font-size-med);
}

p{
  padding: var(--spacer-sm) 0;
  font-size: var(--font-size-sm);
}

p:last-of-type{
  padding-bottom: 0;
}

a{
  text-decoration: none;
  color: var(--colors-accent);
}

button, .button{
  cursor: pointer;
  outline: 0;
  font-size: var(--font-size-sm);
  width: var(--button-width);
  height: 100%;
  background-color: inherit;
  color: var(--colors-accent);
  border: 1px solid var(--colors-accent);
  padding: var(--spacer-tiny);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:focus, .button:focus,
button:hover, .button:hover{
  background-color: var(--colors-accent);
  color: var(--colors-white);
}












/*FOOTER STYLES */
footer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: inherit;
  height: 100%;
  background-color: var(--colors-accent);
  color: var(--colors-white);
  padding: var(--spacer-sm);
}

footer .icon{
  color: var(--colors-white);
  font-size: var(--font-size-med);
  height: var(--font-size-med);
  
}

footer a{
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0;
}

footer a:hover .icon,
footer a:focus .icon{
  color: var(--colors-accent-light);
}

footer p{
  padding: 0;
  font-size: var(--font-size-sm);
}
/*END FOOTER STYLES */







@media all and (min-width: 500px){
  header{
      flex-direction: row;
      justify-content: space-between;
  }
 
}

@media all and (min-width: 600px){
   header{
       padding: var(--spacer-sm) var(--spacer-lg);
   }

   p{
       padding-bottom: 0;
   }
}

@media all and (min-width: 1000px){

  section{
      max-width: var(--max-page-width);
  }
}